{:paths ["src" "resources"]
 :deps {buddy/buddy-core {:mvn/version "1.9.0"}
        buddy/buddy-auth {:mvn/version "3.0.1"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
